<div class"hr1">
	<hr>
</div>
<div id="footer">
	<ul>
		<li><%= t 'navigation.home' %></li>
		<li><%= t 'navigation.event' %></li>
		<li><%= t 'navigation.participants' %></li>
		<li><%= t 'navigation.competitions' %></li>
		<li><%= t 'navigation.directions' %></li>
		<li><%= t 'navigation.contact' %></li>
	</ul>
</div>
