<div id="navigationbar">
	<nav>
	<ul>
		<li class="navigationbutton" ><%= t 'navigation.home' %></li>
		<li class="navigationbutton" ><%= t 'navigation.event' %></li>
		<li class="navigationbutton" ><%= t 'navigation.food' %></li>
		<li class="navigationbutton" ><%= t 'navigation.participants' %></li>
		<li class="navigationbutton" ><%= t 'navigation.competitions' %></li>
		<li class="navigationbutton" ><%= t 'navigation.directions' %></li>
		<li class="navigationbutton" ><%= t 'navigation.contact' %></li>
		<li class="navigationbutton" ><%= t 'navigation.faq' %></li>
	</ul>
	</nav>
</div>
